<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home Page</title>
  </head>

  <body>
    <h1>Welcome to EJS Learning</h1>
    <%# this is a comment from EJS %>
    <p>hey, it's <%= dayType %>, <%= advice %></p>
  </body>
</html>
