<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home Page</title>
  </head>

  <body>
    <h1>Welcome to <%= title %></h1>

    <p>It's a <%= dayType %>!</p>

    <%# A chaos syntax language %>9 <% if(seconds% 2 === 0) { %>
    <p>Even seconds. Here are some options:</p>
    <% for (let i = 0; i < coin.length; i++) { %>

    <li><%= coin[i] %></li>
    <% } %> <% } else { %>

    <p>Odd seconds. No options available</p>

    <% } %> <%- htmlContent %>
  </body>
</html>
